/*основные стили*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #373737;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto Serif", serif;
    background: #f7f7f7;
    font-size: 14px;
    line-height: 1;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    outline: none;
}
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    padding: 0 15px;
 }
/*шапка*/
.header {
    width: 100%;
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    position: relative;
}
/*логотип*/
.logo{
    width: 150px;
    display: block;
    float: left;
}
/*меню*/
.navbar {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin: 7px 15px;
}
.border{
    padding: 1%;
}
.border:hover, .navbar-text:hover{
    background-color: #f0f0f0;
    border-radius: 40px;
}
.navbar-link {
    white-space: nowrap;
}
.navbar-entrance{
    text-align: center;
}
.navbar-text {
    padding: 10px 30px 10px 30px;
    font-size:  17px;
    line-height: 20px;
}
@media (max-width: 675px){
    .navbar {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-menu {
        order: 2;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        text-align: center;
    }
}
/*стили для основного содержания*/
.post-list1{
    margin-top: 45px;
    width: 100%;
    height: 484px;
    background-color: #373737;
    margin-bottom: 100px;
}
.post-list2{
    width: 100%;
    height: 484px;
    background-color: #373737;
    margin-bottom: 100px;
}